.ProseMirror {
  padding: 1rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror .is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Custom cursor styles */
.ProseMirror {
  caret-color: #3b82f6; /* Tailwind blue-500 */
}

.ProseMirror p {
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
